html {
  background-color: #c9b5ab;
  line-height: 1.5rem;
}

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
  margin-top: 1.125em;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

img {
  width: 100%;
}

p {
  text-align: left;
  font-family: "PT Serif", serif;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
}

blockquote {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 1.5rem;
}

ol {
  list-style: none;
  font-family: "PT Serif", sans-serif;
}

dt {
  font-family: "PT Serif", serif;
  font-weight: bold;
}

dd {
  font-family: "PT Serif", serif;
}

ul {
  font-size: .8rem;
  list-style-type: circle;
  font-family: "PT Serif", serif;
}

.link {
  font-family: "PT Serif", serif;
}

.list {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  list-style-type: none;
}

.common, .nutriotion, .tags {
  color: #8f2440;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}

.par1 {
  font-family: "PT Serif", serif;
  font-weight: normal;
  text-align: left;
  font-size: 1.125rem;
}

h2 {
  color: #3f1622;
}
